
html, body, .App, #root {
    height: 100%;
    width: 100%;
}

.nav-icons {
    display: flex;
}

#my-nav-bar {
    height: 100px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

#brand {
    font-style: bold;
    font-size: 2em;
    letter-spacing: 5px;
    padding-left: 30px;
}

.links {
    display: flex;
    font-size: 20px;
    line-height: 100px;

}

.link {
    color: black;
}

.nav-icons {
    font-size: 30px;
}

@media screen and (max-width: 1000px) {
    .link {
        position: fixed;
        top: -10000px;
    }

    .links {

    }

    .icon {
        margin: 0px;
        padding: 0px;
    }
    
    .nav-icons {
        margin-right: 20px;
    }
}

@media screen and (max-width: 490px) {
    #my-nav-bar {
        display: block;
        text-align: center;
    }
    .nav-icons {
        width: 160px;
        margin: 0px auto;
        line-height: 50px;
    }
}






.About {
    padding: 150px 15px;
    text-align: center;

    .header {
        letter-spacing: 5px;
        font-size: 40px;
        font-style: bold;
        font-weight: 700;
    }

    .description {
        opacity: 0.5;
        font-size: 13px;
        line-height: 35px;
    }
}

.LandingPage {
    display: flex;

    div {
        width: 50%;
        overflow: hidden;
        
        img {
            float: left;
            width: 100%;
            height: 100%;
        }
    }
}

.fixed-background {
    background-image: url("https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/72733857_10157763436659082_2310371880428634112_n.jpg?_nc_cat=100&_nc_ohc=xQBFs_gKLEAAQkKgR33zxTGL5KTMbvSxwOZB8BPjVl0pAsP-B2SNZoa-A&_nc_ht=scontent-iad3-1.xx&oh=801a74bec0d755491dc30ee845a68885&oe=5E8AC39B");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    background-size: cover;

    .header {
        font-size: 50px;
        padding-top: 20vh;
        padding-bottom: 20vh;
        letter-spacing: 5px;
        font-weight: 600;
    }
}

.videos {
    max-width: 943px;
    padding: 0 15px;
    padding-top: 100px;
    margin: 0px auto;

    .video {
        text-align: center;
        margin-bottom: 50px;

        iframe {
            width: 100%;
            height: auto;
            min-height: 543px;
        }
        span {
            line-height: 50px;
            font-size: 20px;
            opacity: 0.6;
        }
    }
}

.images {
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 300px 300px 300px;
    width: 100%;
    grid-gap: 20px;
    max-width: 943px;
    margin: 0px auto;
    margin-bottom: 100px;

    .image {
        overflow: hidden;

        img {
            width: auto;
            height: 100%;
        }
    }
}
@media only screen and (max-width: 600px) {

    .images {
        grid-template-columns: auto auto;
        grid-template-rows: repeat(5, 200px);
    }

    .LandingPage {
        display: block;

        div {
            width: 100%;
        }

    }

    #my-nav-bar {

        #brand {
            font-size: 1em;
        }
    }
}
    
@media only screen and (max-width: 1000px) {
    .icon {
        margin-left: 20px;
    }
}

#contact {
    background: black;
    padding: 150px 20px;
}

.contact-container {
    max-width: 1000px;
    margin: 0px auto;
}

.section-heading {
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    border-top: 3px solid #cf1767;
    padding-top: 20px;
    max-width: 180px;
    margin-bottom: 60px;
}

.section-desc a:hover,
.contact-email a:hover {
  color: #cf1767;
  text-decoration: none;
  border-bottom: 1px solid white;
}

.contact-email a {
    display: block;
    margin-bottom: 50px;
    color: #cf1767;
    font-size: 120px;
    margin-top: 30px;
    transition: all 0.3s;
}


.section-desc {
    color: white;
    font-size: 40px;
    margin-bottom: 100px;
}

.section-desc a {
    color:  #cf1767;
    font-size: 40px;
    transition: 0.3s ease-in;
}

.contact-infos {
    display: flex;
    justify-content: space-between;
}

.contact-phone a {
    color: white;
    font-size: 35px;
    transition: 0.3s ease-in;
}

.contact-social p {
    color: white;
    font-size: 35px;
}

.contact-social p a {
    color: white;
    transition: 0.3s ease-in;
}

.contact-phone a:hover,
.contact-social p a:hover {
    text-decoration: none;
    color: #cf1767;
}

@media screen and (max-width: 1300px) {

    .contact-infos {
        display: block;
    }

    .contact-phone {
        margin-bottom: 20px;
    }

    .contact-email a {
        font-size: 100px;
    }
}

@media screen and (max-width: 900px) {
    .contact-email a {
        font-size: 60px;
    }
}

@media screen and (max-width: 550px) {

    .contact-email a {
        font-size: 50px;
    }

    .contact-social p {
        font-size: 1px;
    }

    .contact-social p a {
        display: block;
        font-size: 35px;
    }
}

@media screen and (max-width: 450px) {
    .contact-email a {
        font-size: 30px;
    }

    .section-desc {
        font-size: 30px;
    }

    .contact-phone a {
        font-size: 27px;
    }
    .contact-social p a {
        font-size: 27px;
    }
}

.carousel-container {
    width: 800px;
    height: auto;
}

@media screen and (max-width: 800px) {
    .carousel-container {
        width: 700px;
    }
}

@media screen and (max-width: 700px) {
    .carousel-container {
        width: 600px;
    }
}
@media screen and (max-width: 600px) {
    .carousel-container {
        width: 500px;
    }
}
@media screen and (max-width: 500px) {
    .carousel-container {
        width: 400px;
    }
}
@media screen and (max-width: 400px) {
    .carousel-container {
        width: 300px;
    }
}






